.nav-item{
    padding: 5px 40px !important;
    .fa{
        font-size: 25px !important;
    }
}

.h-70vh{
    height: 70vh;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}